/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  background: rgb(45,186,67);
  background: radial-gradient(circle, rgba(45,186,67,1) 0%, rgba(0,103,16,1) 100%);
  display: flex;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/
.playArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 33.3333%;
  display: flex;
  justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.dealer {
  width: 10%;
  height: auto;
}

.cards {
  width: 100px;
  display: none;
}

button {
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 5px 10px;
  margin: 2%;
}